@import '~bootstrap/scss/bootstrap';

.main {
  margin-top: 50px;
  margin-bottom: 80px;
}

/* typography tutorialより */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// debugメソッド
.debug_dump {
  text-align: center;
  border: solid black 1px;
  margin: 16px;
}

// 後で変更
/* error messages tutorialより */
#error_explanation {
  color: red;
  ul {
    max-width: 430px;
    width: 100%;
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input {
    border: solid red 1px;
  }
}
// header
header {

  #header_logo {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive;
    letter-spacing: 3px;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  a {
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  
  .navbar-toggler {
    border: solid white 1px;
  }
  
  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .btn {
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
    }
    
    &:focus {
    box-shadow: none;
    }
  }
  
}

// footer
footer {
  color: white;

  #footer_logo {
    letter-spacing: 1px;

    &:hover {
      text-decoration: none;
    }
  }

  a {
    color: white;
  }
}

// form
.form {
  form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
  
  input.form_control {
    width: 100%;
    height: 45px;
    margin-bottom: 32px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }
  
  input.btn {
    display: block;
    width: 50%;
    margin: 10px auto;
  }
  
  .checkbox {
    margin-top: -30px;
  }
  
  textarea.form_control {
    width: 100%;
    margin-bottom: 32px;
    letter-spacing: 0.5px;
    font-weight: normal;
  }
  
  .one_form {
    width: 60%;
    margin: auto;
  }

}