<div class="col-12 col-md-6 col-lg-4">
  <%= link_to actionpost_path(actionpost) do %>
    <div class="card bg-info mb-5">
      <div class="card-header"><%= actionpost.title %></div>
      <div class="card-body">
        <p class="card-text"><%= actionpost.action %></p>
        <p class="card-text"><%= actionpost.created_at %></p>
      </div>
    </div>
  <% end %>
</div>